@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: rgb(12 10 9);
    background-color: rgb(17 94 89);
  }
}
@layer components {
  .menuLink {
    @apply cursor-pointer hover:text-[#DE3163];
  }
  .tags {
    background-color: #E9967A;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    padding: 3px 10px;
    display: inline-block;
    color: #fff;
    font-size: 12px;
  }

  .tags:last-child {
    margin-right: 0;
 }

 .tags:nth-child(2) {
  background-color: #6495ED;
 }
 .tags:nth-child(3) {
  background-color: #808000;
}
.tags:nth-child(4) {
  background-color: #6495ED;
}
}